---
- name: Check AAP controller configuration
  ansible.builtin.assert:
    that:
      - (infrastructure_virtual_machines | selectattr("name", "eq", "controller") | first).instances > 0
    msg: This tool must install at least one instance of Ansible Automation Controller
  tags:
    - always

- name: Create deployment details
  ansible.builtin.include_tasks: deployment.yml
  tags:
    - always

- name: Set tag variables
  ansible.builtin.include_tasks: tags.yml
  tags:
    - always

- name: Create the resource group
  azure.azcollection.azure_rm_resourcegroup:
    name: "{{ resource_group }}"
    location: "{{ infrastructure_region }}"

- name: Configure Network
  ansible.builtin.include_tasks: network.yml
  tags:
    - always
    - database

- name: Create Database
  ansible.builtin.include_tasks: database.yml
  tags:
    - database

- name: Create Controller VMs
  ansible.builtin.include_tasks: controller.yml
  tags:
    - controller

# - name: Create Execution Node VMs
#   ansible.builtin.include_tasks: execution.yml
#   tags:
#     - execution

- name: Create Hub VMs
  ansible.builtin.include_tasks: hub.yml
  tags:
    - hub

# - name: Create EDA VMs
#   ansible.builtin.include_tasks: eda.yml
#   tags:
#     - eda
