---
- name: Create the virtual network
  azure.azcollection.azure_rm_virtualnetwork:
    resource_group: "{{ resource_group }}"
    name: "vnet-{{ deployment_id }}-{{ infrastructure_vnet_name }}"
    location: "{{ infrastructure_region }}"
    address_prefixes_cidr: "{{ infrastructure_vnet_cidr }}"
    tags: "{{ _infrastructure_tags }}"
  register: infrastructure_network

- name: Create subnets
  azure.azcollection.azure_rm_subnet:
    resource_group: "{{ resource_group }}"
    name: "subnet-{{ deployment_id }}-{{ item.name }}"
    address_prefix: "{{ item.cidr }}"
    virtual_network: "{{ infrastructure_network.state.name }}"
    delegations: "{{ item.delegations | default(omit) }}"
  loop: "{{ infrastructure_vnet_subnets }}"
  register: infrastructure_subnets
  when: item.name != 'appgw' or (item.name == 'appgw' and infrastructure_create_controller_lb)

- name: Save subnet names
  ansible.builtin.set_fact:
    infrastructure_subnet_names: "{{ infrastructure_subnets.results | selectattr('skipped','undefined') | map(attribute='state.name') | list }}"

- name: Create the private DNS zone for PostgreSQL
  azure.azcollection.azure_rm_privatednszone:
    resource_group: "{{ resource_group }}"
    name: "aap.postgres.database.azure.com"
    tags: "{{ _infrastructure_tags }}"
  register: infrastructure_private_zone

- name: Link the private DNS zone to the network
  azure.azcollection.azure_rm_privatednszonelink:
    name: "postgres-link"
    zone_name: "aap.postgres.database.azure.com"
    virtual_network: "{{ infrastructure_network.state.name }}"
    resource_group: "{{ resource_group }}"
    tags: "{{ _infrastructure_tags }}"

- name: Create Network Security Group that allows SSH and RDP
  azure.azcollection.azure_rm_securitygroup:
    resource_group: "{{ resource_group }}"
    name: "nsg-{{ deployment_id }}-{{ infrastructure_nsg_name }}"
    location: "{{ infrastructure_region }}"
    rules:
      - name: "{{ infrastructure_nsg_name }}"
        protocol: Tcp
        destination_port_range:
          - 22
          - 80
          - 443
          - 5432
          - 8443
          - 27199
        access: Allow
        priority: 100
        direction: Inbound
    tags: "{{ _infrastructure_tags }}"
  register: infrastructure_nsg
