---
# Infrastructure Defaults
infrastructure_region: eastus
infrastructure_tags: []

# Networking
infrastructure_nsg_name: aap-ports
infrastructure_vnet_cidr: 172.16.0.0/22
infrastructure_vnet_name: aap
infrastructure_vnet_subnets:
  - name: controller-eda-hub
    cidr: 172.16.0.0/24
  - name: execution
    cidr: 172.16.1.0/24
  - name: postgres
    cidr: 172.16.2.0/24
    delegations:
      - serviceName: Microsoft.DBforPostgreSQL/flexibleServers
        name: subnet-{{ deployment_id }}-postgres-delegation
  - name: appgw
    cidr: 172.16.3.0/24

# Database
infrastructure_database_server_sku_tier: "GeneralPurpose"
infrastructure_database_server_sku_name: "Standard_D4s_v3"
infrastructure_database_server_version: "13"
infrastructure_database_server_charset: "UTF8"
infrastructure_database_server_collation: "en_US.utf8"
infrastructure_database_server_size: 64
infrastructure_database_extensions:
  - hstore

# Virtual Machines
infrastructure_virtual_machines:
  - name: controller
    instances: 1
    subnet: controller-eda-hub
    shape: Standard_B4ms
  - name: execution
    instances: 0
    subnet: execution
    shape: Standard_B4ms
  - name: hub
    instances: 1
    subnet: controller-eda-hub
    shape: Standard_B4ms
  - name: eda
    instances: 0
    subnet: controller-eda-hub
    shape: Standard_B4ms

# Compute
infrastructure_admin_username: azureuser
infrastructure_password_enabled: false

infrastructure_image_plan:
  offer: RHEL
  publisher: RedHat
  sku: "9-lvm-gen2"
  version: latest

infrastructure_keypair_name: id_rsa
infrastructure_ssh_public_keys:
  - path: "/home/azureuser/.ssh/authorized_keys"
    key_data: "{{ lookup('file', lookup('env', 'HOME') + '/.ssh/' + infrastructure_keypair_name + '.pub') }}"

infrastructure_managed_disk_type: Premium_LRS
infrastructure_os_disk_size_gb: 100

# Load balancer
infrastructure_create_controller_lb: false
infrastructure_cert_path: ""
infrastructure_cert: "{{ lookup('file', lookup('env', 'HOME') + infrastructure_cert_path) | b64encode }}"
