Host {{ groups.controller_private | join(' ') }} {{ groups.execution_private | default('') | join(' ') }} {{ groups.hub_private | default('') | join(' ') }} {{ groups.eda_private | default('') | join(' ') }}
    User {{ ansible_ssh_user }}
    IdentityFile /home/{{ ansible_ssh_user }}/.ssh/{{ infrastructure_keypair_name }}
    StrictHostKeyChecking no
