{
  "location": "{{ infrastructure_region }}",
  "sku": {
    "tier": "{{ database_server_sku_tier }}",
    "name": "{{ database_server_sku_name }}"
  },
  "properties": {
    "administratorLogin": "{{ database_server_user }}",
    "administratorLoginPassword": "{{ database_server_password }}",
    "version": "{{ database_server_version }}",
    "charset": "{{ database_server_charset }}",
    "collation": "{{ database_server_collation }}",
    "storage": {
      "storageSizeGB": "{{ database_server_size }}"
    },
    "network": {
      "delegatedSubnetResourceId": "{{ aap_networking.results[2].state.id }}",
      "privateDnsZoneArmResourceId": "{{ private_zone.state.id }}"
    }
  }
}
